{% extends "layouts/base.html" %}
{% load humanize %}
{% block title %} Inicio {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{{context}}
<h5>Listado Backups</h5>
   <div class="row justify-content-md-center">
    <div class="col-12 mb-4">
       <!-- <div class="card bg-yellow-alt shadow-sm">
            <div class="card-header d-flex flex-row align-items-center flex-0">
                
                    <div class="d-block">
                    
                </div>
                <div class="d-flex ml-auto">
                  
                </div> -
            </div>
            
            </div> -->
    </div>
    
    <div class="card-body p-2"></div>
    <!-- info card-->
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="d-sm-none">
                            <h2 class="h5">Total Backupss:</h2>
                            <h3 class="mb-1">{{num_backups}}</h3>
                        </div> 
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h5">Total Backups:</h2>
                            <h3 class="mb-1">{{num_backups}}</h3>
                        </div>
                       <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide</small> 
                        <div class="small mt-2">                               
                            <span class="fas fa-angle-up text-success"></span>                                   
                            <span class="text-success font-weight-bold">18.2%</span> Since last month
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- info card-->
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="d-sm-none">
                            <h2 class="h5"> Backups Disponibles:</h2>
                            <h3 class="mb-1">{{ok_backups}}</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h5"> Backups Disponibles:</h2>
                            <h3 class="mb-1">{{ok_backups}}</h3>
                        </div>
                        <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide</small>
                        <div class="small mt-2">                               
                            <span class="fas fa-angle-up text-success"></span>                                   
                            <span class="text-success font-weight-bold">28.2%</span> Since last month
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- info card-->
     <!-- info card-->
     <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-left">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="d-sm-none">
                            <h2 class="h5"> Almacenamiento:</h2>
                            <<h3 class="mb-1">{{data_size}}</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h5"> Almacenamiento:</h2>
                            <h3 class="mb-1">{{data_size|intcomma}} GB</h3>
                        </div>
                        <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide</small>
                        <div class="small mt-2">                               
                            <span class="fas fa-angle-up text-success"></span>                                   
                            <span class="text-success font-weight-bold">28.2%</span> Since last month
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<!-- Tabla-->
<div class="py-4">

    <div class="card border-0 shadow mb-6">
    <div class="card-body">
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded hover">
            <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">#</th>
                    <th class="border-0">Fecha de Creación</th>
                    <th class="border-0">Backup</th>
                    <th class="border-0">Ubicación</th>
                    <th class="border-0">Estatus</th>
                    <th class="border-0">Comentarios</th>
                    <th class="border-0 rounded-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                {% for Backups in backups_list %}
               
                <tr  >
                    <td>{{ Backups.id }}</td>
                    <td>{{ Backups.CreationDate }}</td>
                    <td>{{ Backups.FileName }}</td>
                    <td>{{ Backups.Location__LocationName }}</td>
                    {% if Backups.Status_id > 1 %}
                    <td class='text-danger'>{{ Backups.Status__Description }}
                        
                    </td>
                    {% else %}
                    <td >{{ Backups.Status__Description }}</td>
                    {% endif %}
                    <td>{{ Backups.Comments|truncatechars:34 }}
                        {% if Backups.Status_id > 1 %}
                            <button type="link" class="btn  text-info me-3" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{Backups.Comments}}" >
                                ?
                            </button>
                        {% endif %}
                    </td>
                    <td>Edit/View</td>
                   

                   
                </tr>
                {% endfor %}
                   
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>



<nav aria-label="Page navigation example">
    <ul class="pagination mb-0">
        <li class="page-item">
            <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
